/*Mobile and global goes here */
html {
  scroll-behavior: smooth;
  background-image: url(./images/bgunsplash.webp);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-color: #acc9e2;
 
  backdrop-filter: blur(10px) brightness(120%) contrast(80%);
}

body {

  font-family: Inter, Roboto Condensed, sans-serif;
  
}

p {
  color: #121212;
}

p a {
  color: rebeccapurple;
  text-decoration: none;
}

#purple {
  color: rebeccapurple;
  font-size: 24px;
  font-weight: 300;
}

#big,
h1 {
  margin-top: 0px;
  font-weight: 400;
  font-size: 32px;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

hr {
  height: 1px;
  background-color: #121212;
  border: none;
}

#outline {
  opacity: 40%;
}

#status {
  margin-top: 32px;
  font-size: 16px;
  background-color: #121212;
  border-radius: 5px;
  color: lightgreen;
  padding: 16px 16px;
  width: fit-content;
}


.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;

}

.heading {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 8px 8px;
}

.heading a {
  color: black;
  text-decoration: none;
  text-align: left;
}
.heading ul {
  padding: 0%;
  list-style-type: none;
}


.navs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 8px 8px;
}
.navs ul li img {
  width: 8px;
  height: 8px;
}

.navs ul {
  list-style-type: none;
  padding: 0%;
}

.navs li {
  float: left;
}

.navs li a {

  text-decoration: none;

  padding: 16px 16px;
  text-align: center;
  color: black;
}

.intro {

  width: 80%;
  margin: 32px 64px;
  margin-left: 10%;
}


.about,
.work,
.contact,
.footpar {
  width: 90%;
  margin: 32px 64px;
  margin-left: 5%;
}

.stats {
  width: 90%;
  /* margin-left: 5%; */
  align-items: center;
  font-family: "Roboto", sans-serif;
  /* background-color: #f5f5f5; */
  padding: 16px 16px;
  border-radius: 16px;
}


.project {
  border-radius: 25px;
}

.project img {
  margin-top: 64px;
  width: 100%;
  border-radius: 16px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  padding: 16px 16px;
  border-radius: 16px;


}

label[for="email"] {
  font-size: 16px;
  font-weight: 500;
  color: #f5f5f5;
  margin-bottom: 4px;
  margin-top: 16px;
}

input[type="email"],
#message {
  display: block;
  width: 95%;
  padding: 8px 12px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
  background-color: #1f1f1f;
  transition: border-color 0.2s;
  font-family: "Roboto", sans-serif;
  margin: 16px 16px;
}

input[type="email"]:focus {
  outline: none;
  border-color: #2962ff;
}

button[type="button"] {
  display: block;
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #25d366;
  cursor: pointer;
  transition: background-color 0.2s;
  
}

form a{
  text-decoration: none;
  width: 100%;
}

button[type="button"]:hover {
  background-color: #128c7e;
}

.or-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #616161;
  margin-top: 16px;
  margin-bottom: 16px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #2962ff;
  cursor: pointer;
  transition: background-color 0.2s;
}


input[type="submit"]:hover {
  background-color: #0039cb;
}

footer {
  background-color: #121212;
  border-radius: 16px;
  text-align: center;
  padding: 20px;
  color: #f5f5f5;
}

footer p {
  color: #f5f5f5;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 24px;
  font-size: 16px;
  color: #fff;
  margin: 5px;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn-linkedin {
  background-color: #0072b1;
}

.btn-github {
  background-color: #333;
}

.btn-instagram {
  background-color: #e4405f;
}

.btn-itch {
  background-color: #FA5C5C;
}
.btn-yt {
  background-color: #f11f1f;
}
.btn-resume {
  background-color: #1f1f1f;
  border-style: solid;
  border-width: 2px; 
  border-color:  #0072b1;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #121212;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  justify-content: space-around;

  margin-top: 64px;

}

.column {
  width: 100%;
  padding: 20px;
  margin: 4px 4px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #1f1f1f;
}

.column h3 {
  color: #fff;
}

.column p {
  color: #ddd;
}

.wrapper img {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  /*desktop goes here*/
  .column {
    width: calc(33.33% - 20px);
    margin: 8px;
  }

  .navbar {
    width: 70%;
    margin-left: 15%;
    flex-direction: row;
  }

  .heading {
    width: 55%;
    padding: 16px 16px;
  }

  .intro,
  .about,
  .work,
  .contact,
  .footpar,
  .stats {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 60%;
    margin-left: 20%;

  }

  #purple {

    font-size: 32px;
    font-weight: 200;
  }

  #big {
    font-size: 50px;

  }
  .wrapper img {
    width: 60%;
  }

  .project img{
    width: 70%;
    margin-left: 15%;

  }
}