/*Mobile and global goes here */
html{
    scroll-behavior: smooth;
  
    backdrop-filter: blur(10px) brightness(120%) contrast(80%);
}
  
body {
  
  font-family: Inter, Roboto Condensed, sans-serif;
  
  background-image: url(/images/bgunsplash.webp);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-color: #acc9e2;
}
  
  p {
    color: #121212;
  }
  
  p a {
    color: rebeccapurple;
    text-decoration: none;
  }
  
  #purple {
    color: rebeccapurple;
    font-size: 16px;
    font-weight: 300;
  }
  
  #big,
  h1 {
    margin-top: 0px;
    font-weight: 400;
    font-size: 32px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  
  hr {
    height: 1px;
    background-color: #121212;
    border: none;
  }
  

  .heading {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 16px 16px;
  }
  
  .heading a {
    color: black;
    text-decoration: none;
    text-align: left;
  }
  
  .heading ul {
    padding: 0%;
  }
  
  
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
  }
  
  
  
  .navs {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 16px 16px;
  }
  
  .work,
  .footpar{
    width: 90%;
    margin: 32px 64px;
    margin-left: 5%;
  }




  ul {
    list-style-type: none;
  }
  
  li {
    float: left;
  }
  
  li a {
  
    text-decoration: none;
  
    padding: 16px 16px;
    text-align: center;
    color: black;
  }
  
  
  footer {
    background-color: #121212;
    border-radius: 16px;
    text-align: center;
    padding: 20px;
    color: #f5f5f5;
  }
  
  footer p {
    color: #f5f5f5;
  }
  
  .btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    margin: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .btn-linkedin {
    background-color: #0072b1;
  }
  
  .btn-github {
    background-color: #333;
  }
  
  .btn-instagram {
    background-color: #e4405f;
  }
  
  .btn-itch {
    background-color: #FA5C5C;
  }
  .btn-yt {
    background-color: #f11f1f;
  }
  
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #121212;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    
    margin-top: 64px;
    padding: 16px 16px;
    justify-content: space-around;
  
  } 
  
  
.column-w4 {
  width: 100%;
  padding: 16px 16px;
  margin: 4px 4px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #1f1f1f;

  justify-content: center;
  align-items: center;
}
.column-w6 {
  width: 100%;
  padding: 16px 16px;
  margin: 4px 4px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #1f1f1f;
}

.column-w4 h3 {
  color: #fff;
}

.column-w4 p {
  color: #ddd;
}
.column-w6 h3 {
  color: #fff;
}

.column-w6 p {
  color: #ddd;
}

.work img{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
  
/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  padding: 24px;
  color: #fff;
}

/* App icon styles */
.app-icon {
  max-width: 120px;
  height: auto;
  margin-bottom: 16px;
  border-radius: 50%;
}

/* App name styles */
.app-name {
  font-size: 24px;
  margin: 0 0 16px;
  text-align: center;
}

/* Download button styles */
.download-btn {
  display: inline-block;
  background-color: #FA5C5C;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #E35454;
}

.card p{
  font-size: 8px;
  margin: 16px 16px;
  text-align: center;
  color: #fff;
  align-items: center;
}
.wrapper img{
  width: 85%;
}

  @media only screen and (min-width: 768px) {
  
    /*desktop goes here*/
    .column-w4 {
      width: calc(30% - 16px);
      margin: 8px;
    }
    .column-w6 {
      width: calc(70% - 16px);
      margin: 8px;
    }
    
    .navbar {
      width: 70%;
      margin-left: 15%;
      flex-direction: row;
    }
  
    .heading {
      width: 55%;
      padding: 16px 16px;
    }
  
    .work,
    .footpar{
      margin-top: 64px;
      margin-bottom: 64px;
      width: 60%;
      margin-left: 20%;
    }
  
    #purple {
  
      font-size: 32px;
      font-weight: 200;
    }
  
    #big {
      font-size: 50px;
  
    }

    .card {
      padding: 48px;
    }
    
    .app-icon {
      max-width: 160px;
    }
    .wrapper img{
      width: 65%;
    }

    .work img
    {
      width: 70%;
      margin-left: 15%;
    }
  }